*{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

body{
    background-color: #110E1B;
}

body::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: #1F1F1F;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: #6610f2;    /* color of the scroll thumb */
    border-radius: 8px;       /* roundness of the scroll thumb */
}

header{
    width: 100%;
    height: 150px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}

nav{
    color: white;
    /* background-color: green; */
    height: 8vh;
    width: 100%;
    margin-top: -200px;
    font-size: 30px;
    position: fixed;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    font-family: 'Baloo Bhaijaan 2', cursive;
}

nav .nav-titulo{
    margin-top: 0.3vh;
    margin-left: 60px;
    float: left;
    color: white;
}

nav .nav-links{
    font-size: 22px;
    margin-top: 1.2vh;
    margin-right: 60px;
    float: right;
    color: white;
}

nav .nav-links{
    transition: all 2s linear;
}

hr{
    background-color: white;
    margin-top: 8vh;
    width: 100%;
}

header .apresentacao{
    margin-top: 200px;
    color: white;
    font-size: 20pt;
    margin-left: 60px;
    width: 600px;
}

header .apresentacao .btn-git{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    background: rgb(31,24,55);
    background: linear-gradient(230deg, rgba(31,24,55,1) 52%, rgba(0,0,0,1) 100%);
    color: white;
    font-size: 14pt;
    border: 1px solid white;
    transition: all 1.5s;
}

header .apresentacao .btn-git:hover{
    margin-top: 30px;
    width: 230px;
    background: rgb(31,24,55);
    background: linear-gradient(230deg, rgb(41, 32, 71) 62%, rgba(0,0,0,1) 100%);
    box-shadow: 0px 0px 10px 1px #ffffff;
}

header .apresentacao .gif-digitando{
    width: 300px;
    height: 300px;
    margin-top: -270px;
    margin-left: 780px;
    border-radius: 16px;
    box-shadow: 0px 0px 20px 8px #000000; 
}

#quem-sou{
    margin-top: 200px;
    width: 100%;
    height: 500px;
    background-color: #06050ac7;
    color: white;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 20pt;
}

#quem-sou .fotografia{
    position: absolute;
    margin-top: 10px;
    margin-left: 60px;
    object-fit: cover;
}

#quem-sou .paragrafo{
    float: right;
    text-align: justify;
    width: 600px;
    margin-right: 60px;
    margin-top: 120px;
}

#projetos{
    width: 100%;
    height: 650px;
    background-color: #110E1B;
}

#projetos .container{
    float: left;
    width: 500px;
    height: 300px;
    border-radius: 16px;
    margin-top: 180px;
    margin-left: 30px;
    border: 5.5px solid white;
    box-shadow: 0px 0px 20px 3px white;
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: white;
}

#projetos .container #titulo-projeto{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 35px;
}

#projetos .container #descricao-projeto{
    margin-left: 15px;
    margin-top: -15px;
    font-size: 23px;
    text-align: justify;
    width: 468px;
}

#projetos .carrosel #btn-esquerda{
    color: white;
    font-size: 25px;
    margin-top: 330px;
    margin-left: 40px;
    position: relative;
    cursor: pointer;
    transition: all 1s;
}

#projetos .carrosel #btn-esquerda:hover{
    font-size: 25.8px;
}

#projetos .carrosel #btn-direita{
    color: white;
    font-size: 25px;
    margin-top: 330px;
    float: right;
    margin-right: 30px;
    cursor: pointer;
    transition: all 1s;
}

#projetos .carrosel #btn-direita:hover{
    font-size: 25.8px;
}

#projetos .carrosel .itens{
    float: right;
    width: 620px;
    height: 300px;
    border-radius: 16px;
    margin-top: -190px;
    margin-right: 50px;
    display: flex;
    align-items: stretch;
    /* background-color: pink; */
    overflow: hidden;
}

#projetos .carrosel .itens .slide{
    width: 620px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    align-items: stretch;
    transition: all 2s;
    /* background-color: pink; */
    /* margin-left: -620px;  TROCA DE SLIDE*/
}

#projetos .itens .projeto{
    width: 180px;
    height: 250px;
    /* background-color: blue; */
    margin-left: 20px;
    margin-top: 50px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 13pt;
    cursor: pointer;
}

#projetos .itens .projeto .cabecalho-card{
    width: 180px;
    height: 50px;
    background-color: white;
    border-top-left-radius: 16px;
    text-align: center;
    display: block;
    line-height: 50px;
}

#projetos .itens .projeto .imagem-projeto{
    width: 180px;
    height: 200px;
    object-fit: cover;
    border-bottom-right-radius: 16px;
}

#projetos .itens .projeto #img-viagem{
    background-image: url('../imagens/imgs-projeto/projeto-viagem.jpg'); /* DEIXAR A IMAGEM 180px LARGURA POR 225px ALTURA */
}

#projetos .itens .projeto #img-cloneInstagram{
    background-image: url('../imagens/imgs-projeto/projeto-cloneInstagram.jpg'); /* DEIXAR A IMAGEM 180px LARGURA POR 225px ALTURA */
}

#projetos .itens .projeto #img-cloneNetflix{
    background-image: url('../imagens/imgs-projeto/projeto-cloneNetflix.jpg'); /* DEIXAR A IMAGEM 180px LARGURA POR 225px ALTURA */
}

#projetos .itens .projeto #img-JogoCobrinha{
    background-image: url('../imagens/imgs-projeto/projeto-JogoCobrinha.jpg'); /* DEIXAR A IMAGEM 180px LARGURA POR 225px ALTURA */
}

#projetos .itens .projeto #img-Construcao{
    background-image: url('../imagens/imgs-projeto/projeto-Construcao.jpg'); /* DEIXAR A IMAGEM 180px LARGURA POR 225px ALTURA */
}

#projetos .itens .projeto #img-Carrosel{
    background-image: url('../imagens/imgs-projeto/projeto-Carrosel.jpg'); /* DEIXAR A IMAGEM 180px LARGURA POR 225px ALTURA */
}

#projetos .itens .projeto .cabecalho-card .nome-card{
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
}

#projetos .carrosel .alinhar{
    float: right;
    margin-right: 50px;
    /* background-color: green; */
    width: 620px;
    height: auto;
    display: flex;
    align-items: center;
}

#projetos .carrosel .alinhar .balls{
    /* background-color: green; */
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    float: right;
    display: flex;
}

#projetos .carrosel .alinhar .ball{
    transition: all 0.5s;
    border: 3px solid white;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    right: 50%;
    margin-left: 5px;
}

#projetos .carrosel .balls .atual{
    background-color: white;
}

#conhecimento{
    width: 100%;
    height: 500px;
    background-color: #06050ac7;
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: white;
    font-size: 16pt;
    display: flex;
    align-items: inherit;
}

#conhecimento .conheco{
    width: 400px;
    height: 400px;;
    /* background-color: green; */
    border-radius: 16px;
    text-align: center;
    margin-left: 80px;
    border: 5.5px solid black;
    box-shadow: 0px 0px 20px 3px black;
    margin-top: auto;
    margin-bottom: auto;
}

#conhecimento h1{
    margin-top: 5px;
}

#conhecimento .img-indicativa{
    position: absolute;
    margin-left: 600px;
    margin-top: 150px;
}

#conhecimento .indicativo{
    transition: all 1.5s;
    width: 250px;
    height: 50px;
    margin-left: 510px;
    margin-right: auto;
    /* background-color: pink; */
    text-align: center;
    margin-top: 250px;
    position: absolute;
}

#conhecimento .aprendendo{
    width: 400px;
    height: 400px;;
    /* background-color: green; */
    border-radius: 16px;
    text-align: center;
    margin-left: 290px;
    border: 5.5px solid black;
    box-shadow: 0px 0px 20px 3px black;
    margin-top: auto;
    margin-bottom: auto;
}

#conhecimento img{
    transition: all 0.5s;
    width: 80px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

#conhecimento .conheco img:hover{
    width: 85px;
}

#conhecimento .aprendendo img:hover{
    width: 85px;
}

#contato{
    width: 100%;
    height: 500px;
    background-color: #110E1B;
    display: flex;
    align-items: center;
}

#contato .boxes{
    display: flex;
    align-items: center;
    position: inherit;
    margin-left: auto;
    margin-right: auto;
}

#contato .boxes .box{
    width: 250px;
    height: 250px;
    /* background-color: green; */
    border-radius: 16px;
    border: 5.5px solid white;
    box-shadow: 0px 0px 15px 3px white;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    align-items: center;
    transition: all 0.5s;
}

#contato .boxes .box:hover{
    background-color: #09070E;
    border: 5.5px solid black;
    box-shadow: 0px 0px 15px 3px black;
    color: rgba(255, 255, 255, 0.596);
    cursor: pointer;
}

#contato .boxes .box .alinhar-i{
    margin-left: auto;
    margin-right: auto;
    /* background-color: yellow; */
    width: auto;
    display: flex;
    align-items: center;
}

#contato .boxes .box i{
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    position: relative;
    font-size: 25px;
}

#contato .boxes .box h1{
    margin-top: 5px;
    text-align: center;
}

#contato .boxes .box p{
    margin-top: -5px;
    text-align: center;  
}

footer{
    width: 100%;
    height: 50px;
    background-color: #06050ac7;
    display: flex;
    align-items: center;
}

footer .icones{
    margin-left: auto;
    margin-right: auto;
    /* background-color: yellow; */
    width: auto;
    display: flex;
    align-items: center;
}

footer i{
    color: white;
    font-size: 18pt;
    position: relative;
    margin-left: 20px;
    transition: all 0.5s;
}

footer i:hover{
    color: rgb(10, 186, 255);
}